:root {
  --theme-border: 1.5px solid var(--theme-color--ink);
  --theme-border-radius: 3px;
  --theme-border-box-shadow: 1px 2px 0 var(--theme-color--ink),
    3px 4px 0 var(--theme-color--accent);
}
