:root {
  --theme-color--paper: hsla(249, 10%, 86%, 0.95);
  --theme-color--ink: hsl(252, 85%, 46%);
  --theme-color--accent: hsla(192, 85%, 46%, 0.95);
  --theme-color--pop: hsl(312, 85%, 46%);
  --crane-color: hsl(252, 80%, 53%);
}
