* {
  box-sizing: border-box;
}
body,
html {
  font-family: var(--theme-font--copy);
  font-size: 100%;
  color: var(--crane-color);
  background-color: var(--crane-color);
  background-image: linear-gradient(
      315deg,
      currentColor calc(50% - 1px),
      var(--crane-color) 50%
    ),
    linear-gradient(60deg, currentColor calc(60% - 1px), var(--crane-color) 60%);
  background-size: cover;
  color: var(--theme-color--ink);
  margin: 0;
  padding: 0;
  height: 100%;
  animation: fade-in 0.2s;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
