footer {
  color: var(--theme-color--paper);
  display: flex;
  align-items: center;
  gap: var(--theme-spacing--gutter);

  > a {
    // enforce tap sizing
    $taps: height, width, min-width, max-width;
    @each $rule in $taps {
      #{$rule}: var(--theme-spacing--touchtarget);
    }
  }
}
