header {
  @include grid-assign(false, h1, nav);
  grid-template:
    ".. .." var(--theme-spacing--2)
    "h1 nav" auto
    ".. .." var(--theme-spacing--2) / min-content 1fr;
  align-items: center;

  svg {
    width: var(--theme-spacing--touchtarget);
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: var(--theme-spacing--gutter);
    color: var(--theme-color--paper);
    mix-blend-mode: difference;
  }
}
