a {
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s;
}

a,
a:link,
a:visited {
  color: currentColor;
  text-decoration: none;

  @include on-event {
    text-decoration: underline;
    outline: none;
  }
}
